
<div class="solid-inner-banner">
	<h2 class="page-title">Blog Default</h2>
	<ul class="page-breadcrumbs">
		<li><a href="index.html">Home</a></li>
		<li><i class="fa fa-angle-left" aria-hidden="true"></i></li>
		<li>Blog</li>
	</ul>
</div> <!-- /.solid-inner-banner -->
<!--
=============================================
	Blog Default
==============================================
-->
<div class="our-blog blog-default pt-150 mb-200">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="single-blog-post">
					<div class="img-holder"><img src="images/blog/12.jpg" alt=""></div>
					<div class="post-data">
						<a href="#" class="date">23 July, 2018</a>
						<h5 class="blog-title-two title"><a href="blog-details.html">Challange yourself and win the future.</a></h5>
						<p>This response is important for our ability to learn from mistakes, but it alsogives rise to self-criticism, because it is part of the threat-protection system. In other words…</p>
						<a href="blog-details.html" class="read-more"><i class="flaticon-back-1"></i></a>
					</div> <!-- /.post-data -->
				</div> <!-- /.single-blog-post -->
				<div class="single-blog-post blog-text-style">
					<div class="post-data">
						<a href="#" class="date">23 July, 2018</a>
						<h5 class="blog-title-two title"><a href="blog-details.html">A brand for a company is like a reputation for a person. You earn reputation by trying to do hard things well.</a></h5>
						<p>One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection ridicule…</p>
						<a href="blog-details.html" class="read-more"><i class="flaticon-back-1"></i></a>
					</div> <!-- /.post-data -->
				</div> <!-- /.single-blog-post -->
				<div class="single-blog-post">
					<div class="img-holder">
						<img src="images/blog/13.jpg" alt="">
						<a data-fancybox href="https://www.youtube.com/embed/aXFSJTjVjw0" class="fancybox video-button"><i class="flaticon-play-button-2"></i></a>
					</div>
					<div class="post-data">
						<a href="#" class="date">23 July, 2018</a>
						<h5 class="blog-title-two title"><a href="blog-details.html">Challange yourself and win the future.</a></h5>
						<p>This response is important for our ability to learn from mistakes, but it alsogives rise to self-criticism, because it is part of the threat-protection system. In other words…</p>
						<a href="blog-details.html" class="read-more"><i class="flaticon-back-1"></i></a>
					</div> <!-- /.post-data -->
				</div> <!-- /.single-blog-post -->
				<div class="single-blog-post bg-solid-post hide-pr">
					<div class="post-data">
						<h5 class="title"><a href="blog-details.html">It is better to keep your mouth closed and let people think you are fool than to open it & remove all doubt.</a></h5>
						<div class="author">Jhon Ruskin</div>
					</div> <!-- /.post-data -->
				</div> <!-- /.single-blog-post -->
				<div class="single-blog-post">
					<div class="img-holder"><img src="images/blog/14.jpg" alt=""></div>
					<div class="post-data">
						<a href="#" class="date">23 July, 2018</a>
						<h5 class="blog-title-two title"><a href="blog-details.html">Challange yourself and win the future.</a></h5>
						<p>This response is important for our ability to learn from mistakes, but it alsogives rise to self-criticism, because it is part of the threat-protection system. In other words…</p>
						<a href="blog-details.html" class="read-more"><i class="flaticon-back-1"></i></a>
					</div> <!-- /.post-data -->
				</div> <!-- /.single-blog-post -->
				<div class="single-blog-post">
					<div class="img-holder"><img src="images/blog/15.jpg" alt=""></div>
					<div class="post-data">
						<a href="#" class="date">23 July, 2018</a>
						<h5 class="blog-title-two title"><a href="blog-details.html">Challange yourself and win the future.</a></h5>
						<p>This response is important for our ability to learn from mistakes, but it alsogives rise to self-criticism, because it is part of the threat-protection system. In other words…</p>
						<a href="blog-details.html" class="read-more"><i class="flaticon-back-1"></i></a>
					</div> <!-- /.post-data -->
				</div> <!-- /.single-blog-post -->

				<div class="pd-footer d-flex justify-content-between align-items-center pt-50">
					<a href="#" class="theme-pager prev"><span class="flaticon-next"></span> &nbsp;&nbsp;Previous</a>
					<a href="#" class="theme-pager next">Next &nbsp;&nbsp;<span class="flaticon-back"></span></a>
				</div> <!-- /.pd-footer -->
			</div> <!-- /.col- -->

			<div class="col-lg-4 col-md-6 col-sm-8">
				<div class="theme-sidebar-widget">
					<div class="single-block mb-80">
						<form action="#" class="sidebar-search">
							<input type="text" placeholder="Search">
							<button><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
					</div> <!-- /.single-block -->
					<div class="single-block mb-80">
						<h4 class="sidebar-title">Categories</h4>
						<ul class="list-item blog-category">
							<li>
								<a href="#">Web Design <span>(09)</span></a>
							</li>
							<li>
								<a href="#">Graphics <span>(13)</span></a>
							</li>
							<li>
								<a href="#">Web Development <span>(05)</span></a>
							</li>
							<li>
								<a href="#">IOS/Android Development <span>(19)</span></a>
							</li>
							<li>
								<a href="#">Others <span>(12)</span></a>
							</li>
						</ul>
					</div> <!-- /.single-block -->
					<div class="single-block mb-80">
						<h4 class="sidebar-title">Recent News</h4>
						<ul class="recent-news-item">
							<li>
								<h6 class="rn-title"><a href="blog-details.html">10 days quick challange for boost your online visitors.</a></h6>
								<div class="date">23 July, 2018</div>
							</li>
							<li>
								<h6 class="rn-title"><a href="blog-details.html">10 days quick challange for boost your online visitors.</a></h6>
								<div class="date">23 July, 2018</div>
							</li>
							<li>
								<h6 class="rn-title"><a href="blog-details.html">10 days quick challange for boost your online visitors.</a></h6>
								<div class="date">23 July, 2018</div>
							</li>
						</ul>
					</div> <!-- /.single-block -->
					<div class="single-block">
						<h4 class="sidebar-title">Keywords</h4>
						<ul class="keywords-tag clearfix">
							<li><a href="#">Ideas</a></li>
							<li><a href="#">Education</a></li>
							<li><a href="#">Design</a></li>
							<li><a href="#">Development</a></li>
							<li><a href="#">Branding</a></li>
						</ul>
					</div> <!-- /.single-block -->
				</div> <!-- /.theme-sidebar-widget -->
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.our-blog -->
