@model LoginViewModel
<div class="signUp-page signUp-minimal pt-50 pb-100">
    <div class="shape-wrapper">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div> <!-- /.shape-wrapper -->
    <div class="signin-form-wrapper">
        <div class="title-area text-center">
            <h3>ورود</h3>
            @Html.ValidationMessage("Login")
        </div> <!-- /.title-area -->
        <form asp-action="Login" method="post">
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <input asp-for="UserName">
                        <label asp-for="UserName"></label>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div> <!-- /.input-group -->
                </div> <!-- /.col- -->
                <div class="col-12">
                    <div class="input-group">
                        <input asp-for="Password">
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div> <!-- /.input-group -->
                </div> <!-- /.col- -->
            <div class="col-12 mb-2">
                <input asp-for = "RememberMe" /> 
                <label asp-for = "RememberMe"></label> 
                <span asp-validation-for = "RememberMe"></span> 
            </div>
            </div> <!-- /.row -->
            <button class="line-button-one">ورود</button>
        </form>
        <p class="signUp-text text-center">حساب کاربری نداری? <a href="@Url.Action("Register","Account")">ثبت نام</a></p>
    </div> <!-- /.sign-up-form-wrapper -->
</div> <!-- /.signUp-page -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


@*

<h4>ورود</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ورود" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@
