@{
    ViewData["Title"] = "Home Page";
}

<!-- /#theme-banner-one -->
<div id="theme-banner-one">
    <div class="illustration wow zoomIn animated" data-wow-delay="1s" data-wow-duration="2s">
        <img src="images/shape/banner-shape1.svg" alt="">
        <img src="images/shape/banner-shape2.svg" alt="" class="shape-one wow fadeInDown animated" data-wow-delay="1.8s">
        <img src="images/shape/banner-shape3.svg" alt="" class="shape-two wow fadeInUp animated" data-wow-delay="2.7s">
    </div>
    <img src="images/shape/oval-1.svg" alt="" class="oval-one">
    <img src="images/shape/shape-1.svg" alt="" class="shape-three">
    <img src="images/shape/shape-55.svg" alt="" class="shape-four">
    <img src="images/shape/shape-56.svg" alt="" class="shape-five">
    <img src="images/shape/shape-57.svg" alt="" class="shape-six">
    <img src="images/shape/shape-58.svg" alt="" class="shape-seven">
    <img src="images/shape/shape-59.svg" alt="" class="shape-eight">
    <img src="images/shape/shape-60.svg" alt="" class="shape-nine">
    <img src="images/shape/shape-61.svg" alt="" class="shape-ten">
    <img src="images/shape/shape-62.svg" alt="" class="shape-eleven">
    <div class="container">
        <div class="main-wrapper">
            <div class="slogan wow fadeInDown animated" data-wow-delay="0.2s"><span>30% تخفیف</span> بر روی تمامی دوره ها</div>
            <h1 class="main-title wow fadeInUp animated" data-wow-delay="0.4s">آموزش برنامه نویسی <br>با سعید لرن <br></h1>
            <p class="sub-title wow fadeInUp animated" data-wow-delay="0.9s">
                با کمترینــــ هزینه خودت حرفه ایــــ یاد بگیـر و
                <br> وارد بازار کار شو.
            </p>
            <ul class="button-group lightgallery">
                <li><a href="about-us-standard.html" class="more-button solid-button-one wow fadeInRight animated" data-wow-delay="1.5s">لیست دوره ها <i class="fa fa-angle-left icon-right" aria-hidden="true"></i></a></li>
            </ul>
        </div> <!-- /.main-wrapper -->
    </div> <!-- /.container -->
</div>


<!--
=============================================
What WE Do
==============================================
-->
<div class="agn-what-we-do pt-150 pb-200">
    <img src="images/shape/shape-63.svg" alt="" class="shape-one" data-aos="fade-right">
    <img src="images/shape/shape-56.svg" alt="" class="shape-two">
    <div class="container">
        <div class="theme-title-one text-center">
            <div class="upper-title">مسیر یادگیری</div>
            <h5 class="main-title">اول مسیرتو مشخص کن بعد هوشمندانه قدم آموزش ببین...</h5>
        </div> <!-- /.theme-title-one -->

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-block">
                    <div class="icon">
                        <img src="/images/home/Web.png" alt="" class="shape" data-aos="zoom-in-down">
                    </div>
                    <h5 class="title">طراحی وب</h5>
                    <p>آموزش طراحی وب یکی از مسائل پر مخاطب روزهای ایران و جهان است که در طی دوره گام یادگیری طراحی وب سعی کرده‌ایم ...</p>
                    <a href="#" class="more-button">ورود به مسیر</a>
                </div> <!-- /.single-block -->
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-block">
                    <div class="icon">
                        <img src="/images/home/react.png" alt="" class="shape" data-aos="zoom-in-down">
                    </div>
                    <h5 class="title">آموزش React</h5>
                    <p>React محبوب‌ترین فریمورک توسعه رابط کاربری و اپلیکیشن‌های SPA است که توسط شرکت فیسبوک ایجاد شده است.</p>
                    <a href="#" class="more-button">ورود به مسیر</a>
                </div> <!-- /.single-block -->
            </div>

            <div class="col-lg-4 co-12 d-md-none d-lg-block">
                <div class="single-block">
                    <div class="icon">
                        <img src="/images/home/c-sharp.png" alt="" class="shape" data-aos="zoom-in-down">
                    </div>
                    <h5 class="title">آموزش .Net Core</h5>
                    <p>در سال ۲۰۱۴ شرکت مایکروسافت از Net core. رونمایی کرد. سال ۲۰۱۶ نیز از Net core framework. به جای نسخه ی پنجم Net farmework. معرفی شد. </p>
                    <a href="#" class="more-button">ورود به مسیر</a>
                </div> <!-- /.single-block -->
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.agn-what-we-do -->
<!--
=============================================
    Theme Counter
==============================================
-->
<div class="agn-counter-section">
    <img src="images/shape/shape-55.svg" alt="" class="shape-one">
    <img src="images/shape/shape-59.svg" alt="" class="shape-two">
    <img src="images/shape/shape-61.svg" alt="" class="shape-three">
    <div class="container">
        <div class="main-wrapper">

            <div class="counter-wrapper">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-counter-box">
                            <h2 class="number"><span class="timer" data-from="0" data-to="13000" data-speed="1200" data-refresh-interval="5">0</span>+</h2>
                            <p>دانشجو</p>
                        </div> <!-- /.single-counter-box -->
                    </div>
                    <div class="col-sm-4">
                        <div class="single-counter-box">
                            <h2 class="number"><span class="timer" data-from="0" data-to="13" data-speed="1200" data-refresh-interval="5">0</span></h2>
                            <p>مدرس</p>
                        </div> <!-- /.single-counter-box -->
                    </div>
                    <div class="col-sm-4">
                        <div class="single-counter-box">
                            <h2 class="number"><span class="timer" data-from="0" data-to="45" data-speed="1200" data-refresh-interval="5">0</span>+</h2>
                            <p>دوره آموزشی</p>
                        </div> <!-- /.single-counter-box -->
                    </div>
                </div>
            </div> <!-- /.counter-wrapper -->
        </div> <!-- /.main-wrapper -->

    </div> <!-- /.container -->
</div> <!-- /.agn-counter-section -->
<!--
=============================================
    Our Gallery
==============================================
-->
<div class="agn-our-gallery">
    <img src="images/shape/shape-62.svg" alt="" class="shape-one">
    <img src="images/shape/shape-55.svg" alt="" class="shape-two">
    <img src="images/shape/shape-61.svg" alt="" class="shape-three">
    <div class="container">
        <div class="theme-title-one">
            <h2 class="main-title">دوره ها</h2>
        </div> <!-- /.theme-title-one -->
    </div> <!-- /.container -->
    <div class="main-wrapper">
        <a href="product-full-width.html" class="view-gallery">مشاهده همه دوره ها</a>
        <div class="gallery-slider lightgallery">
            @await Component.InvokeAsync("ListCardCourse")
        </div> <!-- /.gallery-slider -->
    </div> <!-- /.main-wrapper -->
</div> <!-- /.agn-our-gallery -->
<!--
=====================================================
    Testimonial
=====================================================
-->
<div class="agn-testimonial">
    <div class="shape-box">
        <img src="images/shape/4.png" alt="">
        <img src="images/home/person-1.webp" alt="" class="people">
        <img src="images/home/person-2.webp" alt="" class="people">
        <img src="images/home/person-4.webp" alt="" class="people">
        <img src="images/home/person-1.webp" alt="" class="people">
        <img src="images/home/person-4.webp" alt="" class="people">
        <img src="images/home/person-2.webp" alt="" class="people">
        <img src="images/shape/shape-6.svg" alt="" class="shape-one">
    </div>
    <img src="images/shape/shape-66.svg" alt="" class="shape-two" data-aos="fade-right">
    <div class="container clearfix">
        <div class="main-content">
            <div class="theme-title-one">
                <div class="upper-title">نظرات</div>
                <h2 class="main-title">در مورد ما چه گفته اند</h2>
            </div> <!-- /.theme-title-one -->

            <div class="agn-testimonial-slider">
                <div class="item">
                    <p>برنامه‌نویسی کارخانه‌ی تبدیل ایده به واقعیت است که با کمک آموزش‌های جذاب و کاربردی سعیدلرن، میتوانید مالک این کارخانه باشید</p>
                    <div class="author-info clearfix">
                        <img src="images/home/person-1.webp" alt="" class="author-img">
                        <div class="name-info">
                            <h6 class="name">علی حاج محمدی</h6>
                            <span>بنیانگذار </span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <p>سعیدلرن شاید تنها ترین مجموعه در ایران باشد، که آموزش های کاربردی، بروز و پروژه محور متناسب با نیاز بازار داخلی و جهانی ارائه میده! دمتون گرم</p>
                    <div class="author-info clearfix">
                        <img src="images/home/person-2.webp" alt="" class="author-img">
                        <div class="name-info">
                            <h6 class="name">مهدی علیپور</h6>
                            <span>کارآفرین</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <p>به واسطه فیلد کاری متفاوت، من تجربه استفاده از دوره ها راکت رو نداشتم ولی هر کدوم از بچه های تیم‌ فنی‌مون که یک دوره از مجموعه سعیدلرن تهیه کرده،‌ هم رضایت بالایی داشتند هم دوره ها براشون خیلی کاربردی بوده. تبریک میگم به حسام موسوی عزیز برای دوره های ارزشمندی که خلق کرده</p>
                    <div class="author-info clearfix">
                        <img src="images/home/person-4.webp" alt="" class="author-img">
                        <div class="name-info">
                            <h6 class="name">وحید بهرامیان</h6>
                            <span>مدیر محصول</span>
                        </div>
                    </div>
                </div>
            </div> <!-- /.agn-testimonial-slider -->
        </div> <!-- /.main-content -->
    </div> <!-- /.container -->
</div> <!-- /.agn-testimonial -->
<!--
=====================================================
    Our Blog
=====================================================
-->
<div class="agn-home-blog our-blog-one">
    <img src="images/shape/shape-58.svg" alt="" class="shape-one">
    <img src="images/shape/shape-57.svg" alt="" class="shape-two">
    <img src="images/shape/shape-9.svg" alt="" class="shape-three">
    <img src="images/shape/shape-55.svg" alt="" class="shape-four">
    <div class="container">
        <div class="theme-title-one text-center">
            <div class="upper-title">بلاگ</div>
            <h2 class="main-title">اخبار برنامه نویسی</h2>
        </div> <!-- /.theme-title-one -->

        <div class="blog-one-slider">
            <div class="item">
                <div class="single-blog-post">
                    <div class="flip-box-front">
                        <div class="clearfix">
                            <img src="images/home/2.jpg" alt="" class="author-img">
                            <div class="author-info">
                                <h6 class="name">Rashed Kabir.</h6>
                                <div class="date">06 Aug 2018</div>
                            </div>
                        </div>
                        <a href="#" class="title">Internet advertising what Went wrong.</a>
                        <p>Having a home based business is a wonderful asset to your life. The main problem time advertise..</p>
                    </div> <!-- /.flip-box-front -->
                    <div class="flip-box-back">
                        <div class="author-info">
                            <h6 class="name">Rashed Kabir.</h6>
                            <div class="date">06 Aug 2018</div>
                        </div>
                        <a href="blog-details.html" class="title">Internet advertising what Went wrong.</a>
                        <a href="blog-details.html" class="more"><i class='flaticon-back'></i></a>
                    </div> <!-- /.flip-box-back -->
                </div> <!-- /.single-blog-post -->
            </div>

            <div class="item">
                <div class="single-blog-post">
                    <div class="flip-box-front">
                        <div class="clearfix">
                            <img src="images/home/5.jpg" alt="" class="author-img">
                            <div class="author-info">
                                <h6 class="name">Jannatul Ferdus.</h6>
                                <div class="date">07 Aug 2018</div>
                            </div>
                        </div>
                        <a href="#" class="title">Internet advertising what Went wrong.</a>
                        <p>Having a home based business is a wonderful asset to your life. The main problem time advertise..</p>
                    </div> <!-- /.flip-box-front -->
                    <div class="flip-box-back">
                        <div class="author-info">
                            <h6 class="name">Jannatul Ferdus.</h6>
                            <div class="date">07 Aug 2018</div>
                        </div>
                        <a href="blog-details.html" class="title">Internet advertising what Went wrong.</a>
                        <a href="blog-details.html" class="more"><i class='flaticon-back'></i></a>
                    </div> <!-- /.flip-box-back -->
                </div> <!-- /.single-blog-post -->
            </div>

            <div class="item">
                <div class="single-blog-post">
                    <div class="flip-box-front">
                        <div class="clearfix">
                            <img src="images/home/6.jpg" alt="" class="author-img">
                            <div class="author-info">
                                <h6 class="name">Zubayer hasan.</h6>
                                <div class="date">05 Aug 2018</div>
                            </div>
                        </div>
                        <a href="#" class="title">Internet advertising what Went wrong.</a>
                        <p>Having a home based business is a wonderful asset to your life. The main problem time advertise..</p>
                    </div> <!-- /.flip-box-front -->
                    <div class="flip-box-back">
                        <div class="author-info">
                            <h6 class="name">Zubayer hasan.</h6>
                            <div class="date">05 Aug 2018</div>
                        </div>
                        <a href="blog-details.html" class="title">Internet advertising what Went wrong.</a>
                        <a href="blog-details.html" class="more"><i class='flaticon-back'></i></a>
                    </div> <!-- /.flip-box-back -->
                </div> <!-- /.single-blog-post -->
            </div>
        </div>
    </div>
</div> <!-- /.our-blog-one -->
