@model List<SaeedLearn.Application.DTOs.Course.CardCourseDto>

<div class="solid-inner-banner">
    <h2 class="page-title">دوره های آموزشی</h2>
    <ul class="page-breadcrumbs">
        <li><a href="/">خانه</a></li>
        <li><i class="fa fa-angle-left" aria-hidden="true"></i></li>
        <li>دوره ها</li>
    </ul>
</div> <!-- /.solid-inner-banner -->

<div class="full-width-container pt-150 pb-200">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 ">
            <div class="theme-sidebar-widget">
                <div class="single-block mb-80">
                    <form action="#" class="sidebar-search">
                        <input type="text" placeholder="جستجو دوره">
                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div> <!-- /.single-block -->
                <div class="single-block mb-80">
                    <h4 class="sidebar-title">دسته بندی دوره</h4>
                    <ul class="list-item">
                        <li>
                            <a href="#">طراحی وب <span>(09)</span></a>
                        </li>
                        <li>
                            <a href="#">فرانت اند <span>(13)</span></a>
                        </li>
                        <li>
                            <a href="#">بک اند <span>(05)</span></a>
                        </li>
                        <li>
                            <a href="#">هوش مصنوعی <span>(19)</span></a>
                        </li>
                    </ul>
                </div> <!-- /.single-block -->

            </div> <!-- /.theme-sidebar-widget -->
        </div>

        <div class="col-xl-9 col-lg-8 col-12">
            <!-- SHOP SHOWCASE -->
            <div class="product-showcase">
                <div class="row gutter-50">
                    @await Component.InvokeAsync("ListCardCourse")

                    @*  @foreach (var course in Model)
                    {
                    <div class="col-xl-4 col-md-6">
                    <partial name="_Card" model="course" />
                    </div>
                    }*@
                </div> <!-- /.row -->
            </div> <!-- /.product-showcase -->

            <div class="theme-pagination-one text-right pt-15">
                <ul>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="flaticon-back-1"></i></a></li>
                </ul>
            </div> <!-- /.theme-pagination-one -->
        </div> <!-- /.col- -->
    </div> <!-- /.row -->
</div> <!-- /.full-width-container -->
@section Scripts
    {
    <script src="~/js/course.js"></script>
}
